In [109]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
#import scipy.stats as stats
import scipy.stats as st
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest

# Librerias para imputar nulos
# ------------------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [110]:
df = pd.read_csv("HR RAW DATA.csv")
df.head()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0

In [111]:
df.columns

Index(['Unnamed: 0', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'employeecount', 'employeenumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NUMCOMPANIESWORKED', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TOTALWORKINGYEARS', 'TrainingTimesLastYear',
       'WORKLIFEBALANCE', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YEARSWITHCURRMANAGER',
       'SameAsMonthlyIncome', 'DateBirth', 'Salary', 'RoleDepartament',
       'NUMBERCHILDREN', 'RemoteWork'],
      dtype='object')

In [112]:
df.shape

(1614, 42)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614 entries, 0 to 1613
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1614 non-null   int64
 1   Age                       1614 non-null   object
 2   Attrition                 1614 non-null   object
 3   BusinessTravel            842 non-null    object
 4   DailyRate                 1614 non-null   object
 5   Department                302 non-null    object
 6   DistanceFromHome          1614 non-null   int64
 7   Education                 1614 non-null   int64
 8   EducationField            869 non-null    object
 9   employeecount             1614 non-null   int64
 10  employeenumber            1183 non-null   object
 11  EnvironmentSatisfaction   1614 non-null   int64
 12  Gender                    1614 non-null   int64
 13  HourlyRate                1614 non-null   object
 14  JobInvolvement            1614 non-null   int64
 15  JobLevel                  1614 non-null   int64
 16  JobRole                   1614 non-null   object
 17  JobSatisfaction           1614 non-null   int64
 18  MaritalStatus             963 non-null    object
 19  MonthlyIncome             771 non-null    object
 20  MonthlyRate               1614 non-null   int64
 21  NUMCOMPANIESWORKED        1614 non-null   int64
 22  Over18                    713 non-null    object
 23  OverTime                  938 non-null    object
 24  PercentSalaryHike         1614 non-null   int64
 25  PerformanceRating         1419 non-null   object
 26  RelationshipSatisfaction  1614 non-null   int64
 27  StandardHours             419 non-null    object
 28  StockOptionLevel          1614 non-null   int64
 29  TOTALWORKINGYEARS         1088 non-null   object
 30  TrainingTimesLastYear     1614 non-null   int64
 31  WORKLIFEBALANCE           1506 non-null   object
 32  YearsAtCompany            1614 non-null   int64
 33  YearsInCurrentRole        34 non-null     object
 34  YearsSinceLastPromotion   1614 non-null   int64
 35  YEARSWITHCURRMANAGER      1614 non-null   int64
 36  SameAsMonthlyIncome       771 non-null    object
 37  DateBirth                 1614 non-null   int64
 38  Salary                    1614 non-null   object
 39  RoleDepartament           302 non-null    object
 40  NUMBERCHILDREN            0 non-null      float64
 41  RemoteWork                1614 non-null   object
dtypes: float64(1), int64(19), object(22)
memory usage: 529.7+ KB

In [114]:
df.isnull().sum()

Unnamed: 0                     0
Age                            0
Attrition                      0
BusinessTravel               772
DailyRate                      0
Department                  1312
DistanceFromHome               0
Education                      0
EducationField               745
employeecount                  0
employeenumber               431
EnvironmentSatisfaction        0
Gender                         0
HourlyRate                     0
JobInvolvement                 0
JobLevel                       0
JobRole                        0
JobSatisfaction                0
MaritalStatus                651
MonthlyIncome                843
MonthlyRate                    0
NUMCOMPANIESWORKED             0
Over18                       901
OverTime                     676
PercentSalaryHike              0
PerformanceRating            195
RelationshipSatisfaction       0
StandardHours               1195
StockOptionLevel               0
TOTALWORKINGYEARS            526
TrainingTimesLastYear          0
WORKLIFEBALANCE              108
YearsAtCompany                 0
YearsInCurrentRole          1580
YearsSinceLastPromotion        0
YEARSWITHCURRMANAGER           0
SameAsMonthlyIncome          843
DateBirth                      0
Salary                         0
RoleDepartament             1312
NUMBERCHILDREN              1614
RemoteWork                     0
dtype: int64

In [115]:
df.describe()

,Unnamed: 0,DistanceFromHome,Education,employeecount,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobSatisfaction,MonthlyRate,NUMCOMPANIESWORKED,PercentSalaryHike,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,DateBirth,NUMBERCHILDREN
count,1614.000000,1614.000000,1614.000000,1614.0,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,1614.000000,0.0
mean,806.500000,4.527261,2.925031,1.0,4.294919,0.398389,2.739777,2.068154,2.738538,14284.495663,2.673482,15.165428,2.704461,0.791202,2.809789,7.132590,2.245973,4.220570,1986.076208,NaN
std,466.065982,14.591913,1.022357,0.0,6.993559,0.489718,0.711567,1.101344,1.106163,7110.414585,2.506152,3.648610,1.079031,0.842396,1.297765,6.124237,3.235665,3.562695,9.101332,NaN
min,0.000000,-49.000000,1.000000,1.0,1.000000,0.000000,1.000000,1.000000,1.000000,2094.000000,0.000000,11.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1963.000000,NaN
25%,403.250000,2.000000,2.000000,1.0,2.000000,0.000000,2.000000,1.000000,2.000000,8001.000000,1.000000,12.000000,2.000000,0.000000,2.000000,3.000000,0.000000,2.000000,1980.000000,NaN
50%,806.500000,5.000000,3.000000,1.0,3.000000,0.000000,3.000000,2.000000,3.000000,14248.500000,2.000000,14.000000,3.000000,1.000000,3.000000,5.000000,1.000000,3.000000,1987.000000,NaN
75%,1209.750000,11.000000,4.000000,1.0,4.000000,1.000000,3.000000,3.000000,4.000000,20364.000000,4.000000,18.000000,4.000000,1.000000,3.000000,9.000000,3.000000,7.000000,1993.000000,NaN
max,1613.000000,29.000000,5.000000,1.0,49.000000,1.000000,4.000000,5.000000,4.000000,26999.000000,9.000000,25.000000,4.000000,3.000000,6.000000,40.000000,15.000000,17.000000,2005.000000,NaN

In [116]:
## pasos a seguir:

# eliminar Over18 y NUMBERCHILDREN porque son columnas que no aportan mucho
# igualar nombres columnas (minusculas, espacios) -- HECHO
# revisar minimo de DistanceFromHome porque es valor negativo
# columnas gender remplazar por female y male
# revisar DailyRate porque incluye valores numéricos -- HECHO
# revisar Age para que sea numérica -- HECHO
# reviar Hourly Rate para que sea numérica
# revisar monthly income para pasar a numérico
# revisar Total Working Years para que sea numérica
# revisar job level para que sea categórica
# revisar Same as Monthly income para que sea numérica
# revisar Education pone como int y ponerla a categórica
# evaluar y eliminar nulos (standar hours, muchos nulos (75% e info absurda, solo un valor); Years In Current Role sería info
# interesante para cambiar a numérica, pero demasiado % nulos (98%)
# evaluar duplicados
# revisar marital status porque aparece "marreid"
# revisar Remoto Work y eligir criterio T-F o 0-1
# columnas redundates: revisar "education y education field", eliminamos "Role Department" porque es una combinacion 
# de "Department" y de "job role" porque además tiene todo nulos casi
# eliminar columna Salary porque el dato está mal, es el mismo para todas 
# eliminar Number Children porque son todo nulos
# # eliminar Employee count porque solo tiene un valor (1 para todos)

In [117]:
df.columns

Index(['Unnamed: 0', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'employeecount', 'employeenumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NUMCOMPANIESWORKED', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TOTALWORKINGYEARS', 'TrainingTimesLastYear',
       'WORKLIFEBALANCE', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YEARSWITHCURRMANAGER',
       'SameAsMonthlyIncome', 'DateBirth', 'Salary', 'RoleDepartament',
       'NUMBERCHILDREN', 'RemoteWork'],
      dtype='object')

In [118]:
#Renombrar columnas con un diccionario 

df = df.rename(columns={'NUMCOMPANIESWORKED': 'Num Companies Worked', 'TOTALWORKINGYEARS': 'Total Working Years', 
                        'WORKLIFEBALANCE': 'Work Life Balance', 'YEARSWITHCURRMANAGER': 'Years with Currmanager', 
                         'NUMBERCHILDREN': 'Number Children' })

In [119]:
df.head()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,Num Companies Worked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,Total Working Years,TrainingTimesLastYear,Work Life Balance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,Years with Currmanager,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,Number Children,RemoteWork
0,0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0

In [120]:
df.columns

Index(['Unnamed: 0', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'employeecount', 'employeenumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'Num Companies Worked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'Total Working Years', 'TrainingTimesLastYear',
       'Work Life Balance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Years with Currmanager',
       'SameAsMonthlyIncome', 'DateBirth', 'Salary', 'RoleDepartament',
       'Number Children', 'RemoteWork'],
      dtype='object')

In [121]:

df = df.rename(columns={'BusinessTravel': 'Business Travel', 'DailyRate': 'Daily Rate', 'DistanceFromHome': 'Distance From Home', 
                        'EducationField': 'Education Field', 'employeecount': 'Employee Count', 'employeenumber': 'Employee Number',
                        'EnvironmentSatisfaction': 'Environment Satisfaction', 'HourlyRate': 'Hourly Rate', 'JobInvolvement': 'Job Involvement',
                        'JobLevel': 'Job Level', 'JobRole': 'Job Role', 'JobSatisfaction': 'Job Satisfaction', 'MaritalStatus': 'MaritalStatus',
                        'MonthlyIncome': 'Monthly Income', 'MonthlyRate': 'Monthly Rate', 'Over18': 'Over 18', 'OverTime': 'Over Time',
                        'PercentSalaryHike': 'Percent Salary Hike', 'PerformanceRating': 'Performance Rating', 
                        'RelationshipSatisfaction': 'Relationship Satisfaction', 'StandardHours': 'Standard Hours',
                        'StockOptionLevel': 'StockOption Level', 'TrainingTimesLastYear': 'Training Times Last Year', 
                        'YearsAtCompany': 'Years At Company', 'YearsInCurrentRole': 'Years In Current Role',
                        'YearsSinceLastPromotion': 'Years Since Last Promotion', 'SameAsMonthlyIncome': 'Same As Monthly Income',
                        'DateBirth': 'Date Birth', 'RoleDepartament': 'Role Departament', 'RemoteWork': 'Remote Work'})

In [122]:
df = df.rename(columns={'MaritalStatus': 'Marital Status'})

In [158]:
df = df.rename(columns={'StockOption Level': 'Stock Option Level'})

In [123]:
df.head()

,Unnamed: 0,Age,Attrition,Business Travel,Daily Rate,Department,Distance From Home,Education,Education Field,Employee Count,Employee Number,Environment Satisfaction,Gender,Hourly Rate,Job Involvement,Job Level,Job Role,Job Satisfaction,Marital Status,Monthly Income,Monthly Rate,Num Companies Worked,Over 18,Over Time,Percent Salary Hike,Performance Rating,Relationship Satisfaction,Standard Hours,StockOption Level,Total Working Years,Training Times Last Year,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years with Currmanager,Same As Monthly Income,Date Birth,Salary,Role Departament,Number Children,Remote Work
0,0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0

In [124]:
# Todas las columnas renombradas con mayuscula y espacios

In [125]:
# Ahora queremos cambiar columna Age a numerica, para ello cambiamos valores

In [126]:
df['Age'].unique()

array(['51', '52', '42', '47', '46', '48', '59', '41', '56', '38', '55',
       '40', '58', '35', '45', '33', '36', '34', 'forty-seven', '53',
       '43', '60', '32', '37', '49', '39', '50', '44', '30',
       'fifty-eight', '29', '31', '54', '57', '27', 'thirty-six', '28',
       '26', 'fifty-five', '25', 'fifty-two', 'thirty-one', '24',
       'thirty', '23', '22', '21', '20', 'twenty-six', '19',
       'thirty-seven', '18', 'thirty-two', 'twenty-four'], dtype=object)

In [127]:
# Crear un diccionario para mapear palabras a números
numeros_escritos = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10,
                   'eleven': 11, 'twelve': 12, 'thirteen': 13, 'fourteen': 14, 'fifteen': 15, 'sixteen': 16, 'seventeen': 17,
                   'eighteen': 18, 'nineteen': 19, 'twenty': 20, 'thirty': 30, 'forty': 40, 'fifty': 50, 'sixty': 60, 'seventy': 70,
                   'eighty': 80, 'ninety': 90}

def convertir_a_numero(valor):
    if valor.isdigit():
        return int(valor)
    else:
        try:
            partes = valor.split('-')
            if len(partes) == 2:
                decenas = numeros_escritos.get(partes[0].lower(), 0)
                unidades = numeros_escritos.get(partes[1].lower(), 0)
                return decenas + unidades
            else:
                return numeros_escritos.get(valor.lower(), 0)
        except:
            return None
        
# Aplicar la función a la columna 'Age'
df['Age'] = df['Age'].apply(convertir_a_numero)

In [128]:
#Comprobamos que ya Age ya es int

df['Age'].unique()

array([51, 52, 42, 47, 46, 48, 59, 41, 56, 38, 55, 40, 58, 35, 45, 33, 36,
       34, 53, 43, 60, 32, 37, 49, 39, 50, 44, 30, 29, 31, 54, 57, 27, 28,
       26, 25, 24, 23, 22, 21, 20, 19, 18], dtype=int64)

In [129]:
# Comprobamos ahora Daily Rate para que sea numérica

df['Daily Rate'].unique()

array(['684,0$', '699,0$', '532,0$', '359,0$', '1319,0$', '117,0$',
       '1435,0$', '635,0$', '1276,0$', '840,0$', '247,0$', '1369,0$',
       '201,0$', '1360,0$', '692,0$', '1398,0$', '286,0$', '1402,0$',
       '819,0$', '884,0$', '1238,0$', '515,0$', '1223,0$', '202,0$',
       '928,0$', '607,0$', '266,0$', '429,0$', '589,0$', 'nan$',
       '1180,0$', '1282,0$', '776,0$', '665,0$', '526,0$', '1034,0$',
       '1403,0$', '1499,0$', '580,0$', '859,0$', '263,0$', '1376,0$',
       '885,0$', '1003,0$', '1321,0$', '394,0$', '1372,0$', '1333,0$',
       '228,0$', '737,0$', '823,0$', '667,0$', '301,0$', '573,0$',
       '1329,0$', '630,0$', '1063,0$', '1017,0$', '1296,0$', '939,0$',
       '1355,0$', '1448,0$', '200,0$', '1202,0$', '404,0$', '208,0$',
       '813,0$', '465,0$', '1189,0$', '1001,0$', '1394,0$', '161,0$',
       '288,0$', '682,0$', '1354,0$', '147,0$', '119,0$', '1413,0$',
       '452,0$', '334,0$', '1132,0$', '982,0$', '480,0$', '1099,0$',
       '672,0$', '1379,0$', '583,0$', '1492,0$', '1050,0$', '469,0$',
       '237,0$', '1440,0$', '1291,0$', '1157,0$', '1336,0$', '1224,0$',
       '735,0$', '1389,0$', '638,0$', '1240,0$', '194,0$', '1339,0$',
       '111,0$', '1469,0$', '470,0$', '1232,0$', '1249,0$', '798,0$',
       '549,0$', '570,0$', '541,0$', '164,0$', '1117,0$', '619,0$',
       '319,0$', '956,0$', '1245,0$', '1397,0$', '527,0$', '213,0$',
       '882,0$', '330,0$', '406,0$', '217,0$', '481,0$', '669,0$',
       '1465,0$', '685,0$', '1062,0$', '177,0$', '1199,0$', '648,0$',
       '412,0$', '282,0$', '770,0$', '601,0$', '855,0$', '332,0$',
       '1326,0$', '748,0$', '405,0$', '790,0$', '971,0$', '1370,0$',
       '750,0$', '880,0$', '678,0$', '1179,0$', '350,0$', '1266,0$',
       '574,0$', '189,0$', '310,0$', '722,0$', '1219,0$', '994,0$',
       '721,0$', '853,0$', '427,0$', '852,0$', '1334,0$', '1093,0$',
       '967,0$', '989,0$', '1195,0$', '1045,0$', '829,0$', '663,0$',
       '1300,0$', '1105,0$', '906,0$', '849,0$', '1275,0$', '1218,0$',
       '422,0$', '1274,0$', '1076,0$', '1207,0$', '430,0$', '933,0$',
       '1184,0$', '586,0$', '890,0$', '379,0$', '1425,0$', '1188,0$',
       '938,0$', '1053,0$', '248,0$', '796,0$', '174,0$', '408,0$',
       '977,0$', '536,0$', '135,0$', '1476,0$', '587,0$', '495,0$',
       '523,0$', '507,0$', '1055,0$', '1445,0$', '218,0$', '447,0$',
       '1029,0$', '674,0$', '538,0$', '740,0$', '1234,0$', '170,0$',
       '1130,0$', '584,0$', '918,0$', '792,0$', '611,0$', '1383,0$',
       '867,0$', '706,0$', '728,0$', '311,0$', '556,0$', '937,0$',
       '1125,0$', '444,0$', '911,0$', '585,0$', '1392,0$', '1005,0$',
       '1299,0$', '655,0$', '746,0$', '632,0$', '658,0$', '1467,0$',
       '1312,0$', '249,0$', '802,0$', '689,0$', '1395,0$', '1436,0$',
       '1496,0$', '1480,0$', '313,0$', '894,0$', '290,0$', '1084,0$',
       '1002,0$', '1242,0$', '1052,0$', '944,0$', '771,0$', '1416,0$',
       '1327,0$', '488,0$', '1385,0$', '666,0$', '1315,0$', '442,0$',
       '950,0$', '691,0$', '1018,0$', '559,0$', '318,0$', '144,0$',
       '1171,0$', '143,0$', '1178,0$', '1107,0$', '645,0$', '1485,0$',
       '1116,0$', '163,0$', '561,0$', '426,0$', '509,0$', '258,0$',
       '525,0$', '238,0$', '482,0$', '397,0$', '243,0$', '806,0$',
       '1442,0$', '929,0$', '827,0$', '703,0$', '294,0$', '314,0$',
       '654,0$', '501,0$', '954,0$', '1434,0$', '657,0$', '240,0$',
       '791,0$', '676,0$', '436,0$', '760,0$', '661,0$', '1085,0$',
       '154,0$', '1283,0$', '616,0$', '498,0$', '530,0$', '805,0$',
       '903,0$', '1229,0$', '566,0$', '1441,0$', '153,0$', '1066,0$',
       '145,0$', '1109,0$', '124,0$', '300,0$', '1366,0$', '857,0$',
       '1204,0$', '1082,0$', '203,0$', '1308,0$', '718,0$', '593,0$',
       '1384,0$', '1361,0$', '1146,0$', '1316,0$', '363,0$', '1103,0$',
       '920,0$', '694,0$', '1429,0$', '531,0$', '621,0$', '604,0$',
       '325,0$', '1030,0$', '524,0$', '943,0$', '1009,0$', '817,0$',
       '930,0$', '1147,0$', '652,0$', '337,0$', '1136,0$', '326,0$',
       '377,0$', '1038,0$', '1490,0$', '1246,0$', '224,0$', '441,0$',
       '898,0$', '1313,0$', '1015,0$', '1387,0$', '1302,0$', '602,0$',
       '772,0$', '809,0$', '786,0$', '921,0$', '717,0$', '979,0$',
       '953,0$', '244,0$', '196,0$', '303,0$', '1092,0$', '261,0$',
       '1422,0$', '1137,0$', '511,0$', '1396,0$', '1096,0$', '1169,0$',
       '1239,0$', '157,0$', '754,0$', '1303,0$', '697,0$', '116,0$',
       '557,0$', '582,0$', '704,0$', '613,0$', '419,0$', '477,0$',
       '1211,0$', '505,0$', '269,0$', '553,0$', '1277,0$', '302,0$',
       '975,0$', '1318,0$', '881,0$', '466,0$', '945,0$', '433,0$',
       '991,0$', '1083,0$', '136,0$', '333,0$', '1462,0$', '1131,0$',
       '1023,0$', '1065,0$', '1115,0$', '1479,0$', '304,0$', '1368,0$',
       '828,0$', '799,0$', '142,0$', '446,0$', '254,0$', '1410,0$',
       '883,0$', '121,0$', '1343,0$', '490,0$', '1400,0$', '1332,0$',
       '1200,0$', '1102,0$', '1328,0$', '548,0$', '1214,0$', '120,0$',
       '841,0$', '1033,0$', '1452,0$', '1268,0$', '307,0$', '797,0$',
       '555,0$', '1377,0$', '210,0$', '483,0$', '575,0$', '1311,0$',
       '759,0$', '891,0$', '317,0$', '688,0$', '195,0$', '622,0$',
       '646,0$', '719,0$', '1012,0$', '1278,0$', '1222,0$', '1231,0$',
       '462,0$', '231,0$', '1089,0$', '1262,0$', '439,0$', '528,0$',
       '647,0$', '1097,0$', '942,0$', '966,0$', '168,0$', '299,0$',
       '999,0$', '1498,0$', '1439,0$', '1111,0$', '1174,0$', '172,0$',
       '401,0$', '866,0$', '571,0$', '1342,0$', '995,0$', '118,0$',
       '990,0$', '241,0$', '1470,0$', '492,0$', '1040,0$', '1320,0$',
       '146,0$', '1153,0$', '185,0$', '1297,0$', '1064,0$', '1351,0$',
       '468,0$', '1273,0$', '1141,0$', '1488,0$', '653,0$', '1225,0$',
       '1217,0$', '1127,0$', '1427,0$', '702,0$', '926,0$', '878,0$',
       '896,0$', '1401,0$', '675,0$', '1070,0$', '496,0$', '390,0$',
       '1220,0$', '1124,0$', '1046,0$', '267,0$', '443,0$', '1287,0$',
       '1420,0$', '562,0$', '650,0$', '141,0$', '715,0$', '376,0$',
       '932,0$', '471,0$', '180,0$', '1265,0$', '1075,0$', '1086,0$',
       '152,0$', '974,0$', '788,0$', '192,0$', '150,0$', '1167,0$',
       '206,0$', '736,0$', '322,0$', '683,0$', '1475,0$', '560,0$',
       '115,0$', '888,0$', '671,0$', '567,0$', '148,0$', '581,0$',
       '371,0$', '1181,0$', '1253,0$', '370,0$', '1194,0$', '572,0$',
       '355,0$', '783,0$', '155,0$', '508,0$', '642,0$', '1382,0$',
       '1037,0$', '1120,0$', '374,0$', '287,0$', '591,0$', '670,0$',
       '1346,0$', '103,0$', '673,0$', '705,0$', '1459,0$', '1443,0$',
       '1142,0$', '664,0$', '432,0$', '1353,0$', '489,0$', '807,0$',
       '1280,0$', '957,0$', '542,0$', '216,0$', '1150,0$', '364,0$',
       '1256,0$', '440,0$', '713,0$', '140,0$', '629,0$', '328,0$',
       '472,0$', '905,0$', '1151,0$', '644,0$', '992,0$', '1323,0$',
       '818,0$', '1431,0$', '976,0$', '832,0$', '916,0$', '1247,0$',
       '128,0$', '1158,0$', '996,0$', '1449,0$', '636,0$', '889,0$',
       '106,0$', '723,0$', '1482,0$', '738,0$', '1192,0$', '1309,0$',
       '544,0$', '641,0$', '756,0$', '895,0$', '1261,0$', '329,0$',
       '1362,0$', '1371,0$', '821,0$', '1381,0$', '1473,0$', '296,0$',
       '1349,0$', '986,0$', '413,0$', '988,0$', '1474,0$', '232,0$',
       '1236,0$', '1112,0$', '204,0$', '913,0$', '810,0$', '693,0$',
       '316,0$', '381,0$', '775,0$', '804,0$', '1090,0$', '346,0$',
       '725,0$', '182,0$', '384,0$', '1325,0$', '1258,0$', '1041,0$',
       '625,0$', '1418,0$', '1269,0$', '395,0$', '341,0$', '500,0$',
       '1454,0$', '617,0$', '1122,0$', '1198,0$', '188,0$', '335,0$',
       '461,0$', '1134,0$', '138,0$', '1206,0$', '109,0$', '277,0$',
       '265,0$', '342,0$', '1186,0$', '769,0$', '1176,0$', '1091,0$',
       '618,0$', '970,0$', '984,0$', '793,0$', '1182,0$', '603,0$',
       '874,0$', '367,0$', '199,0$', '1457,0$', '1421,0$', '1450,0$',
       '1212,0$', '1010,0$', '131,0$', '193,0$', '640,0$', '848,0$',
       '1138,0$', '256,0$', '935,0$', '458,0$', '662,0$', '499,0$',
       '949,0$', '383,0$', '1255,0$', '1221,0$', '981,0$', '1495,0$',
       '1193,0$', '467,0$', '271,0$', '410,0$', '1288,0$', '1108,0$',
       '437,0$', '457,0$', '634,0$', '546,0$', '711,0$', '448,0$',
       '365,0$', '763,0$', '486,0$', '392,0$', '727,0$', '741,0$',
       '552,0$', '506,0$', '1456,0$', '160,0$', '897,0$', '600,0$',
       '1054,0$', '428,0$', '343,0$', '1216,0$', '207,0$', '280,0$',
       '414,0$', '836,0$', '592,0$', '219,0$', '1079,0$', '1251,0$',
       '1168,0$', '1444,0$', '1154,0$', '234,0$', '529,0$', '1322,0$',
       '924,0$', '134,0$', '755,0$', '253,0$', '922,0$', '1365,0$',
       '306,0$', '1271,0$', '1404,0$', '1391,0$', '1464,0$', '1330,0$',
       '773,0$', '902,0$', '107,0$', '504,0$', '1358,0$', '824,0$',
       '594,0$', '734,0$', '766,0$', '431,0$', '1213,0$', '1373,0$',
       '1324,0$', '1123,0$', '391,0$', '125,0$', '1357,0$', '626,0$',
       '132,0$', '871,0$', '1031,0$', '1145,0$', '854,0$', '1411,0$',
       '252,0$', '833,0$', '1210,0$', '1463,0$', '812,0$', '1162,0$',
       '845,0$', '1144,0$', '156,0$', '464,0$', '1305,0$', '983,0$',
       '534,0$', '1306,0$', '1094,0$', '558,0$', '959,0$', '782,0$',
       '362,0$', '268,0$', '167,0$', '1243,0$', '720,0$', '868,0$',
       '1252,0$', '781,0$', '1272,0$', '129,0$', '1069,0$', '289,0$',
       '955,0$', '660,0$', '415,0$', '309,0$', '130,0$', '862,0$',
       '1098,0$', '969,0$', '373,0$', '599,0$', '968,0$', '830,0$',
       '1423,0$', '516,0$', '598,0$', '104,0$', '479,0$', '474,0$',
       '264,0$', '1059,0$', '563,0$', '1259,0$', '369,0$', '543,0$',
       '964,0$', '176,0$', '181,0$', '211,0$', '590,0$', '305,0$',
       '478,0$', '1294,0$', '1128,0$', '726,0$', '352,0$', '1172,0$',
       '605,0$', '1337,0$', '105,0$'], dtype=object)

In [130]:
# quitamos símbolo del dolar para que sea numérica

df['Daily Rate'] = df['Daily Rate'].str.replace('$', '', regex=False)
df['Daily Rate'].unique()

array(['684,0', '699,0', '532,0', '359,0', '1319,0', '117,0', '1435,0',
       '635,0', '1276,0', '840,0', '247,0', '1369,0', '201,0', '1360,0',
       '692,0', '1398,0', '286,0', '1402,0', '819,0', '884,0', '1238,0',
       '515,0', '1223,0', '202,0', '928,0', '607,0', '266,0', '429,0',
       '589,0', 'nan', '1180,0', '1282,0', '776,0', '665,0', '526,0',
       '1034,0', '1403,0', '1499,0', '580,0', '859,0', '263,0', '1376,0',
       '885,0', '1003,0', '1321,0', '394,0', '1372,0', '1333,0', '228,0',
       '737,0', '823,0', '667,0', '301,0', '573,0', '1329,0', '630,0',
       '1063,0', '1017,0', '1296,0', '939,0', '1355,0', '1448,0', '200,0',
       '1202,0', '404,0', '208,0', '813,0', '465,0', '1189,0', '1001,0',
       '1394,0', '161,0', '288,0', '682,0', '1354,0', '147,0', '119,0',
       '1413,0', '452,0', '334,0', '1132,0', '982,0', '480,0', '1099,0',
       '672,0', '1379,0', '583,0', '1492,0', '1050,0', '469,0', '237,0',
       '1440,0', '1291,0', '1157,0', '1336,0', '1224,0', '735,0',
       '1389,0', '638,0', '1240,0', '194,0', '1339,0', '111,0', '1469,0',
       '470,0', '1232,0', '1249,0', '798,0', '549,0', '570,0', '541,0',
       '164,0', '1117,0', '619,0', '319,0', '956,0', '1245,0', '1397,0',
       '527,0', '213,0', '882,0', '330,0', '406,0', '217,0', '481,0',
       '669,0', '1465,0', '685,0', '1062,0', '177,0', '1199,0', '648,0',
       '412,0', '282,0', '770,0', '601,0', '855,0', '332,0', '1326,0',
       '748,0', '405,0', '790,0', '971,0', '1370,0', '750,0', '880,0',
       '678,0', '1179,0', '350,0', '1266,0', '574,0', '189,0', '310,0',
       '722,0', '1219,0', '994,0', '721,0', '853,0', '427,0', '852,0',
       '1334,0', '1093,0', '967,0', '989,0', '1195,0', '1045,0', '829,0',
       '663,0', '1300,0', '1105,0', '906,0', '849,0', '1275,0', '1218,0',
       '422,0', '1274,0', '1076,0', '1207,0', '430,0', '933,0', '1184,0',
       '586,0', '890,0', '379,0', '1425,0', '1188,0', '938,0', '1053,0',
       '248,0', '796,0', '174,0', '408,0', '977,0', '536,0', '135,0',
       '1476,0', '587,0', '495,0', '523,0', '507,0', '1055,0', '1445,0',
       '218,0', '447,0', '1029,0', '674,0', '538,0', '740,0', '1234,0',
       '170,0', '1130,0', '584,0', '918,0', '792,0', '611,0', '1383,0',
       '867,0', '706,0', '728,0', '311,0', '556,0', '937,0', '1125,0',
       '444,0', '911,0', '585,0', '1392,0', '1005,0', '1299,0', '655,0',
       '746,0', '632,0', '658,0', '1467,0', '1312,0', '249,0', '802,0',
       '689,0', '1395,0', '1436,0', '1496,0', '1480,0', '313,0', '894,0',
       '290,0', '1084,0', '1002,0', '1242,0', '1052,0', '944,0', '771,0',
       '1416,0', '1327,0', '488,0', '1385,0', '666,0', '1315,0', '442,0',
       '950,0', '691,0', '1018,0', '559,0', '318,0', '144,0', '1171,0',
       '143,0', '1178,0', '1107,0', '645,0', '1485,0', '1116,0', '163,0',
       '561,0', '426,0', '509,0', '258,0', '525,0', '238,0', '482,0',
       '397,0', '243,0', '806,0', '1442,0', '929,0', '827,0', '703,0',
       '294,0', '314,0', '654,0', '501,0', '954,0', '1434,0', '657,0',
       '240,0', '791,0', '676,0', '436,0', '760,0', '661,0', '1085,0',
       '154,0', '1283,0', '616,0', '498,0', '530,0', '805,0', '903,0',
       '1229,0', '566,0', '1441,0', '153,0', '1066,0', '145,0', '1109,0',
       '124,0', '300,0', '1366,0', '857,0', '1204,0', '1082,0', '203,0',
       '1308,0', '718,0', '593,0', '1384,0', '1361,0', '1146,0', '1316,0',
       '363,0', '1103,0', '920,0', '694,0', '1429,0', '531,0', '621,0',
       '604,0', '325,0', '1030,0', '524,0', '943,0', '1009,0', '817,0',
       '930,0', '1147,0', '652,0', '337,0', '1136,0', '326,0', '377,0',
       '1038,0', '1490,0', '1246,0', '224,0', '441,0', '898,0', '1313,0',
       '1015,0', '1387,0', '1302,0', '602,0', '772,0', '809,0', '786,0',
       '921,0', '717,0', '979,0', '953,0', '244,0', '196,0', '303,0',
       '1092,0', '261,0', '1422,0', '1137,0', '511,0', '1396,0', '1096,0',
       '1169,0', '1239,0', '157,0', '754,0', '1303,0', '697,0', '116,0',
       '557,0', '582,0', '704,0', '613,0', '419,0', '477,0', '1211,0',
       '505,0', '269,0', '553,0', '1277,0', '302,0', '975,0', '1318,0',
       '881,0', '466,0', '945,0', '433,0', '991,0', '1083,0', '136,0',
       '333,0', '1462,0', '1131,0', '1023,0', '1065,0', '1115,0',
       '1479,0', '304,0', '1368,0', '828,0', '799,0', '142,0', '446,0',
       '254,0', '1410,0', '883,0', '121,0', '1343,0', '490,0', '1400,0',
       '1332,0', '1200,0', '1102,0', '1328,0', '548,0', '1214,0', '120,0',
       '841,0', '1033,0', '1452,0', '1268,0', '307,0', '797,0', '555,0',
       '1377,0', '210,0', '483,0', '575,0', '1311,0', '759,0', '891,0',
       '317,0', '688,0', '195,0', '622,0', '646,0', '719,0', '1012,0',
       '1278,0', '1222,0', '1231,0', '462,0', '231,0', '1089,0', '1262,0',
       '439,0', '528,0', '647,0', '1097,0', '942,0', '966,0', '168,0',
       '299,0', '999,0', '1498,0', '1439,0', '1111,0', '1174,0', '172,0',
       '401,0', '866,0', '571,0', '1342,0', '995,0', '118,0', '990,0',
       '241,0', '1470,0', '492,0', '1040,0', '1320,0', '146,0', '1153,0',
       '185,0', '1297,0', '1064,0', '1351,0', '468,0', '1273,0', '1141,0',
       '1488,0', '653,0', '1225,0', '1217,0', '1127,0', '1427,0', '702,0',
       '926,0', '878,0', '896,0', '1401,0', '675,0', '1070,0', '496,0',
       '390,0', '1220,0', '1124,0', '1046,0', '267,0', '443,0', '1287,0',
       '1420,0', '562,0', '650,0', '141,0', '715,0', '376,0', '932,0',
       '471,0', '180,0', '1265,0', '1075,0', '1086,0', '152,0', '974,0',
       '788,0', '192,0', '150,0', '1167,0', '206,0', '736,0', '322,0',
       '683,0', '1475,0', '560,0', '115,0', '888,0', '671,0', '567,0',
       '148,0', '581,0', '371,0', '1181,0', '1253,0', '370,0', '1194,0',
       '572,0', '355,0', '783,0', '155,0', '508,0', '642,0', '1382,0',
       '1037,0', '1120,0', '374,0', '287,0', '591,0', '670,0', '1346,0',
       '103,0', '673,0', '705,0', '1459,0', '1443,0', '1142,0', '664,0',
       '432,0', '1353,0', '489,0', '807,0', '1280,0', '957,0', '542,0',
       '216,0', '1150,0', '364,0', '1256,0', '440,0', '713,0', '140,0',
       '629,0', '328,0', '472,0', '905,0', '1151,0', '644,0', '992,0',
       '1323,0', '818,0', '1431,0', '976,0', '832,0', '916,0', '1247,0',
       '128,0', '1158,0', '996,0', '1449,0', '636,0', '889,0', '106,0',
       '723,0', '1482,0', '738,0', '1192,0', '1309,0', '544,0', '641,0',
       '756,0', '895,0', '1261,0', '329,0', '1362,0', '1371,0', '821,0',
       '1381,0', '1473,0', '296,0', '1349,0', '986,0', '413,0', '988,0',
       '1474,0', '232,0', '1236,0', '1112,0', '204,0', '913,0', '810,0',
       '693,0', '316,0', '381,0', '775,0', '804,0', '1090,0', '346,0',
       '725,0', '182,0', '384,0', '1325,0', '1258,0', '1041,0', '625,0',
       '1418,0', '1269,0', '395,0', '341,0', '500,0', '1454,0', '617,0',
       '1122,0', '1198,0', '188,0', '335,0', '461,0', '1134,0', '138,0',
       '1206,0', '109,0', '277,0', '265,0', '342,0', '1186,0', '769,0',
       '1176,0', '1091,0', '618,0', '970,0', '984,0', '793,0', '1182,0',
       '603,0', '874,0', '367,0', '199,0', '1457,0', '1421,0', '1450,0',
       '1212,0', '1010,0', '131,0', '193,0', '640,0', '848,0', '1138,0',
       '256,0', '935,0', '458,0', '662,0', '499,0', '949,0', '383,0',
       '1255,0', '1221,0', '981,0', '1495,0', '1193,0', '467,0', '271,0',
       '410,0', '1288,0', '1108,0', '437,0', '457,0', '634,0', '546,0',
       '711,0', '448,0', '365,0', '763,0', '486,0', '392,0', '727,0',
       '741,0', '552,0', '506,0', '1456,0', '160,0', '897,0', '600,0',
       '1054,0', '428,0', '343,0', '1216,0', '207,0', '280,0', '414,0',
       '836,0', '592,0', '219,0', '1079,0', '1251,0', '1168,0', '1444,0',
       '1154,0', '234,0', '529,0', '1322,0', '924,0', '134,0', '755,0',
       '253,0', '922,0', '1365,0', '306,0', '1271,0', '1404,0', '1391,0',
       '1464,0', '1330,0', '773,0', '902,0', '107,0', '504,0', '1358,0',
       '824,0', '594,0', '734,0', '766,0', '431,0', '1213,0', '1373,0',
       '1324,0', '1123,0', '391,0', '125,0', '1357,0', '626,0', '132,0',
       '871,0', '1031,0', '1145,0', '854,0', '1411,0', '252,0', '833,0',
       '1210,0', '1463,0', '812,0', '1162,0', '845,0', '1144,0', '156,0',
       '464,0', '1305,0', '983,0', '534,0', '1306,0', '1094,0', '558,0',
       '959,0', '782,0', '362,0', '268,0', '167,0', '1243,0', '720,0',
       '868,0', '1252,0', '781,0', '1272,0', '129,0', '1069,0', '289,0',
       '955,0', '660,0', '415,0', '309,0', '130,0', '862,0', '1098,0',
       '969,0', '373,0', '599,0', '968,0', '830,0', '1423,0', '516,0',
       '598,0', '104,0', '479,0', '474,0', '264,0', '1059,0', '563,0',
       '1259,0', '369,0', '543,0', '964,0', '176,0', '181,0', '211,0',
       '590,0', '305,0', '478,0', '1294,0', '1128,0', '726,0', '352,0',
       '1172,0', '605,0', '1337,0', '105,0'], dtype=object)

In [133]:
df['Daily Rate'] = df['Daily Rate'].str.replace(',0', '', regex=False)
df['Daily Rate'].unique()

array(['684', '699', '532', '359', '1319', '117', '1435', '635', '1276',
       '840', '247', '1369', '201', '1360', '692', '1398', '286', '1402',
       '819', '884', '1238', '515', '1223', '202', '928', '607', '266',
       '429', '589', 'nan', '1180', '1282', '776', '665', '526', '1034',
       '1403', '1499', '580', '859', '263', '1376', '885', '1003', '1321',
       '394', '1372', '1333', '228', '737', '823', '667', '301', '573',
       '1329', '630', '1063', '1017', '1296', '939', '1355', '1448',
       '200', '1202', '404', '208', '813', '465', '1189', '1001', '1394',
       '161', '288', '682', '1354', '147', '119', '1413', '452', '334',
       '1132', '982', '480', '1099', '672', '1379', '583', '1492', '1050',
       '469', '237', '1440', '1291', '1157', '1336', '1224', '735',
       '1389', '638', '1240', '194', '1339', '111', '1469', '470', '1232',
       '1249', '798', '549', '570', '541', '164', '1117', '619', '319',
       '956', '1245', '1397', '527', '213', '882', '330', '406', '217',
       '481', '669', '1465', '685', '1062', '177', '1199', '648', '412',
       '282', '770', '601', '855', '332', '1326', '748', '405', '790',
       '971', '1370', '750', '880', '678', '1179', '350', '1266', '574',
       '189', '310', '722', '1219', '994', '721', '853', '427', '852',
       '1334', '1093', '967', '989', '1195', '1045', '829', '663', '1300',
       '1105', '906', '849', '1275', '1218', '422', '1274', '1076',
       '1207', '430', '933', '1184', '586', '890', '379', '1425', '1188',
       '938', '1053', '248', '796', '174', '408', '977', '536', '135',
       '1476', '587', '495', '523', '507', '1055', '1445', '218', '447',
       '1029', '674', '538', '740', '1234', '170', '1130', '584', '918',
       '792', '611', '1383', '867', '706', '728', '311', '556', '937',
       '1125', '444', '911', '585', '1392', '1005', '1299', '655', '746',
       '632', '658', '1467', '1312', '249', '802', '689', '1395', '1436',
       '1496', '1480', '313', '894', '290', '1084', '1002', '1242',
       '1052', '944', '771', '1416', '1327', '488', '1385', '666', '1315',
       '442', '950', '691', '1018', '559', '318', '144', '1171', '143',
       '1178', '1107', '645', '1485', '1116', '163', '561', '426', '509',
       '258', '525', '238', '482', '397', '243', '806', '1442', '929',
       '827', '703', '294', '314', '654', '501', '954', '1434', '657',
       '240', '791', '676', '436', '760', '661', '1085', '154', '1283',
       '616', '498', '530', '805', '903', '1229', '566', '1441', '153',
       '1066', '145', '1109', '124', '300', '1366', '857', '1204', '1082',
       '203', '1308', '718', '593', '1384', '1361', '1146', '1316', '363',
       '1103', '920', '694', '1429', '531', '621', '604', '325', '1030',
       '524', '943', '1009', '817', '930', '1147', '652', '337', '1136',
       '326', '377', '1038', '1490', '1246', '224', '441', '898', '1313',
       '1015', '1387', '1302', '602', '772', '809', '786', '921', '717',
       '979', '953', '244', '196', '303', '1092', '261', '1422', '1137',
       '511', '1396', '1096', '1169', '1239', '157', '754', '1303', '697',
       '116', '557', '582', '704', '613', '419', '477', '1211', '505',
       '269', '553', '1277', '302', '975', '1318', '881', '466', '945',
       '433', '991', '1083', '136', '333', '1462', '1131', '1023', '1065',
       '1115', '1479', '304', '1368', '828', '799', '142', '446', '254',
       '1410', '883', '121', '1343', '490', '1400', '1332', '1200',
       '1102', '1328', '548', '1214', '120', '841', '1033', '1452',
       '1268', '307', '797', '555', '1377', '210', '483', '575', '1311',
       '759', '891', '317', '688', '195', '622', '646', '719', '1012',
       '1278', '1222', '1231', '462', '231', '1089', '1262', '439', '528',
       '647', '1097', '942', '966', '168', '299', '999', '1498', '1439',
       '1111', '1174', '172', '401', '866', '571', '1342', '995', '118',
       '990', '241', '1470', '492', '1040', '1320', '146', '1153', '185',
       '1297', '1064', '1351', '468', '1273', '1141', '1488', '653',
       '1225', '1217', '1127', '1427', '702', '926', '878', '896', '1401',
       '675', '1070', '496', '390', '1220', '1124', '1046', '267', '443',
       '1287', '1420', '562', '650', '141', '715', '376', '932', '471',
       '180', '1265', '1075', '1086', '152', '974', '788', '192', '150',
       '1167', '206', '736', '322', '683', '1475', '560', '115', '888',
       '671', '567', '148', '581', '371', '1181', '1253', '370', '1194',
       '572', '355', '783', '155', '508', '642', '1382', '1037', '1120',
       '374', '287', '591', '670', '1346', '103', '673', '705', '1459',
       '1443', '1142', '664', '432', '1353', '489', '807', '1280', '957',
       '542', '216', '1150', '364', '1256', '440', '713', '140', '629',
       '328', '472', '905', '1151', '644', '992', '1323', '818', '1431',
       '976', '832', '916', '1247', '128', '1158', '996', '1449', '636',
       '889', '106', '723', '1482', '738', '1192', '1309', '544', '641',
       '756', '895', '1261', '329', '1362', '1371', '821', '1381', '1473',
       '296', '1349', '986', '413', '988', '1474', '232', '1236', '1112',
       '204', '913', '810', '693', '316', '381', '775', '804', '1090',
       '346', '725', '182', '384', '1325', '1258', '1041', '625', '1418',
       '1269', '395', '341', '500', '1454', '617', '1122', '1198', '188',
       '335', '461', '1134', '138', '1206', '109', '277', '265', '342',
       '1186', '769', '1176', '1091', '618', '970', '984', '793', '1182',
       '603', '874', '367', '199', '1457', '1421', '1450', '1212', '1010',
       '131', '193', '640', '848', '1138', '256', '935', '458', '662',
       '499', '949', '383', '1255', '1221', '981', '1495', '1193', '467',
       '271', '410', '1288', '1108', '437', '457', '634', '546', '711',
       '448', '365', '763', '486', '392', '727', '741', '552', '506',
       '1456', '160', '897', '600', '1054', '428', '343', '1216', '207',
       '280', '414', '836', '592', '219', '1079', '1251', '1168', '1444',
       '1154', '234', '529', '1322', '924', '134', '755', '253', '922',
       '1365', '306', '1271', '1404', '1391', '1464', '1330', '773',
       '902', '107', '504', '1358', '824', '594', '734', '766', '431',
       '1213', '1373', '1324', '1123', '391', '125', '1357', '626', '132',
       '871', '1031', '1145', '854', '1411', '252', '833', '1210', '1463',
       '812', '1162', '845', '1144', '156', '464', '1305', '983', '534',
       '1306', '1094', '558', '959', '782', '362', '268', '167', '1243',
       '720', '868', '1252', '781', '1272', '129', '1069', '289', '955',
       '660', '415', '309', '130', '862', '1098', '969', '373', '599',
       '968', '830', '1423', '516', '598', '104', '479', '474', '264',
       '1059', '563', '1259', '369', '543', '964', '176', '181', '211',
       '590', '305', '478', '1294', '1128', '726', '352', '1172', '605',
       '1337', '105'], dtype=object)

In [141]:
df['Daily Rate'] = df['Daily Rate'].str.replace("'", '', regex=False)
df['Daily Rate'].unique()

array(['684', '699', '532', '359', '1319', '117', '1435', '635', '1276',
       '840', '247', '1369', '201', '1360', '692', '1398', '286', '1402',
       '819', '884', '1238', '515', '1223', '202', '928', '607', '266',
       '429', '589', 'nan', '1180', '1282', '776', '665', '526', '1034',
       '1403', '1499', '580', '859', '263', '1376', '885', '1003', '1321',
       '394', '1372', '1333', '228', '737', '823', '667', '301', '573',
       '1329', '630', '1063', '1017', '1296', '939', '1355', '1448',
       '200', '1202', '404', '208', '813', '465', '1189', '1001', '1394',
       '161', '288', '682', '1354', '147', '119', '1413', '452', '334',
       '1132', '982', '480', '1099', '672', '1379', '583', '1492', '1050',
       '469', '237', '1440', '1291', '1157', '1336', '1224', '735',
       '1389', '638', '1240', '194', '1339', '111', '1469', '470', '1232',
       '1249', '798', '549', '570', '541', '164', '1117', '619', '319',
       '956', '1245', '1397', '527', '213', '882', '330', '406', '217',
       '481', '669', '1465', '685', '1062', '177', '1199', '648', '412',
       '282', '770', '601', '855', '332', '1326', '748', '405', '790',
       '971', '1370', '750', '880', '678', '1179', '350', '1266', '574',
       '189', '310', '722', '1219', '994', '721', '853', '427', '852',
       '1334', '1093', '967', '989', '1195', '1045', '829', '663', '1300',
       '1105', '906', '849', '1275', '1218', '422', '1274', '1076',
       '1207', '430', '933', '1184', '586', '890', '379', '1425', '1188',
       '938', '1053', '248', '796', '174', '408', '977', '536', '135',
       '1476', '587', '495', '523', '507', '1055', '1445', '218', '447',
       '1029', '674', '538', '740', '1234', '170', '1130', '584', '918',
       '792', '611', '1383', '867', '706', '728', '311', '556', '937',
       '1125', '444', '911', '585', '1392', '1005', '1299', '655', '746',
       '632', '658', '1467', '1312', '249', '802', '689', '1395', '1436',
       '1496', '1480', '313', '894', '290', '1084', '1002', '1242',
       '1052', '944', '771', '1416', '1327', '488', '1385', '666', '1315',
       '442', '950', '691', '1018', '559', '318', '144', '1171', '143',
       '1178', '1107', '645', '1485', '1116', '163', '561', '426', '509',
       '258', '525', '238', '482', '397', '243', '806', '1442', '929',
       '827', '703', '294', '314', '654', '501', '954', '1434', '657',
       '240', '791', '676', '436', '760', '661', '1085', '154', '1283',
       '616', '498', '530', '805', '903', '1229', '566', '1441', '153',
       '1066', '145', '1109', '124', '300', '1366', '857', '1204', '1082',
       '203', '1308', '718', '593', '1384', '1361', '1146', '1316', '363',
       '1103', '920', '694', '1429', '531', '621', '604', '325', '1030',
       '524', '943', '1009', '817', '930', '1147', '652', '337', '1136',
       '326', '377', '1038', '1490', '1246', '224', '441', '898', '1313',
       '1015', '1387', '1302', '602', '772', '809', '786', '921', '717',
       '979', '953', '244', '196', '303', '1092', '261', '1422', '1137',
       '511', '1396', '1096', '1169', '1239', '157', '754', '1303', '697',
       '116', '557', '582', '704', '613', '419', '477', '1211', '505',
       '269', '553', '1277', '302', '975', '1318', '881', '466', '945',
       '433', '991', '1083', '136', '333', '1462', '1131', '1023', '1065',
       '1115', '1479', '304', '1368', '828', '799', '142', '446', '254',
       '1410', '883', '121', '1343', '490', '1400', '1332', '1200',
       '1102', '1328', '548', '1214', '120', '841', '1033', '1452',
       '1268', '307', '797', '555', '1377', '210', '483', '575', '1311',
       '759', '891', '317', '688', '195', '622', '646', '719', '1012',
       '1278', '1222', '1231', '462', '231', '1089', '1262', '439', '528',
       '647', '1097', '942', '966', '168', '299', '999', '1498', '1439',
       '1111', '1174', '172', '401', '866', '571', '1342', '995', '118',
       '990', '241', '1470', '492', '1040', '1320', '146', '1153', '185',
       '1297', '1064', '1351', '468', '1273', '1141', '1488', '653',
       '1225', '1217', '1127', '1427', '702', '926', '878', '896', '1401',
       '675', '1070', '496', '390', '1220', '1124', '1046', '267', '443',
       '1287', '1420', '562', '650', '141', '715', '376', '932', '471',
       '180', '1265', '1075', '1086', '152', '974', '788', '192', '150',
       '1167', '206', '736', '322', '683', '1475', '560', '115', '888',
       '671', '567', '148', '581', '371', '1181', '1253', '370', '1194',
       '572', '355', '783', '155', '508', '642', '1382', '1037', '1120',
       '374', '287', '591', '670', '1346', '103', '673', '705', '1459',
       '1443', '1142', '664', '432', '1353', '489', '807', '1280', '957',
       '542', '216', '1150', '364', '1256', '440', '713', '140', '629',
       '328', '472', '905', '1151', '644', '992', '1323', '818', '1431',
       '976', '832', '916', '1247', '128', '1158', '996', '1449', '636',
       '889', '106', '723', '1482', '738', '1192', '1309', '544', '641',
       '756', '895', '1261', '329', '1362', '1371', '821', '1381', '1473',
       '296', '1349', '986', '413', '988', '1474', '232', '1236', '1112',
       '204', '913', '810', '693', '316', '381', '775', '804', '1090',
       '346', '725', '182', '384', '1325', '1258', '1041', '625', '1418',
       '1269', '395', '341', '500', '1454', '617', '1122', '1198', '188',
       '335', '461', '1134', '138', '1206', '109', '277', '265', '342',
       '1186', '769', '1176', '1091', '618', '970', '984', '793', '1182',
       '603', '874', '367', '199', '1457', '1421', '1450', '1212', '1010',
       '131', '193', '640', '848', '1138', '256', '935', '458', '662',
       '499', '949', '383', '1255', '1221', '981', '1495', '1193', '467',
       '271', '410', '1288', '1108', '437', '457', '634', '546', '711',
       '448', '365', '763', '486', '392', '727', '741', '552', '506',
       '1456', '160', '897', '600', '1054', '428', '343', '1216', '207',
       '280', '414', '836', '592', '219', '1079', '1251', '1168', '1444',
       '1154', '234', '529', '1322', '924', '134', '755', '253', '922',
       '1365', '306', '1271', '1404', '1391', '1464', '1330', '773',
       '902', '107', '504', '1358', '824', '594', '734', '766', '431',
       '1213', '1373', '1324', '1123', '391', '125', '1357', '626', '132',
       '871', '1031', '1145', '854', '1411', '252', '833', '1210', '1463',
       '812', '1162', '845', '1144', '156', '464', '1305', '983', '534',
       '1306', '1094', '558', '959', '782', '362', '268', '167', '1243',
       '720', '868', '1252', '781', '1272', '129', '1069', '289', '955',
       '660', '415', '309', '130', '862', '1098', '969', '373', '599',
       '968', '830', '1423', '516', '598', '104', '479', '474', '264',
       '1059', '563', '1259', '369', '543', '964', '176', '181', '211',
       '590', '305', '478', '1294', '1128', '726', '352', '1172', '605',
       '1337', '105'], dtype=object)

In [143]:
df['Daily Rate'] = df['Daily Rate'].astype('float')
df['Daily Rate'].unique()

array([ 684.,  699.,  532.,  359., 1319.,  117., 1435.,  635., 1276.,
        840.,  247., 1369.,  201., 1360.,  692., 1398.,  286., 1402.,
        819.,  884., 1238.,  515., 1223.,  202.,  928.,  607.,  266.,
        429.,  589.,   nan, 1180., 1282.,  776.,  665.,  526., 1034.,
       1403., 1499.,  580.,  859.,  263., 1376.,  885., 1003., 1321.,
        394., 1372., 1333.,  228.,  737.,  823.,  667.,  301.,  573.,
       1329.,  630., 1063., 1017., 1296.,  939., 1355., 1448.,  200.,
       1202.,  404.,  208.,  813.,  465., 1189., 1001., 1394.,  161.,
        288.,  682., 1354.,  147.,  119., 1413.,  452.,  334., 1132.,
        982.,  480., 1099.,  672., 1379.,  583., 1492., 1050.,  469.,
        237., 1440., 1291., 1157., 1336., 1224.,  735., 1389.,  638.,
       1240.,  194., 1339.,  111., 1469.,  470., 1232., 1249.,  798.,
        549.,  570.,  541.,  164., 1117.,  619.,  319.,  956., 1245.,
       1397.,  527.,  213.,  882.,  330.,  406.,  217.,  481.,  669.,
       1465.,  685., 1062.,  177., 1199.,  648.,  412.,  282.,  770.,
        601.,  855.,  332., 1326.,  748.,  405.,  790.,  971., 1370.,
        750.,  880.,  678., 1179.,  350., 1266.,  574.,  189.,  310.,
        722., 1219.,  994.,  721.,  853.,  427.,  852., 1334., 1093.,
        967.,  989., 1195., 1045.,  829.,  663., 1300., 1105.,  906.,
        849., 1275., 1218.,  422., 1274., 1076., 1207.,  430.,  933.,
       1184.,  586.,  890.,  379., 1425., 1188.,  938., 1053.,  248.,
        796.,  174.,  408.,  977.,  536.,  135., 1476.,  587.,  495.,
        523.,  507., 1055., 1445.,  218.,  447., 1029.,  674.,  538.,
        740., 1234.,  170., 1130.,  584.,  918.,  792.,  611., 1383.,
        867.,  706.,  728.,  311.,  556.,  937., 1125.,  444.,  911.,
        585., 1392., 1005., 1299.,  655.,  746.,  632.,  658., 1467.,
       1312.,  249.,  802.,  689., 1395., 1436., 1496., 1480.,  313.,
        894.,  290., 1084., 1002., 1242., 1052.,  944.,  771., 1416.,
       1327.,  488., 1385.,  666., 1315.,  442.,  950.,  691., 1018.,
        559.,  318.,  144., 1171.,  143., 1178., 1107.,  645., 1485.,
       1116.,  163.,  561.,  426.,  509.,  258.,  525.,  238.,  482.,
        397.,  243.,  806., 1442.,  929.,  827.,  703.,  294.,  314.,
        654.,  501.,  954., 1434.,  657.,  240.,  791.,  676.,  436.,
        760.,  661., 1085.,  154., 1283.,  616.,  498.,  530.,  805.,
        903., 1229.,  566., 1441.,  153., 1066.,  145., 1109.,  124.,
        300., 1366.,  857., 1204., 1082.,  203., 1308.,  718.,  593.,
       1384., 1361., 1146., 1316.,  363., 1103.,  920.,  694., 1429.,
        531.,  621.,  604.,  325., 1030.,  524.,  943., 1009.,  817.,
        930., 1147.,  652.,  337., 1136.,  326.,  377., 1038., 1490.,
       1246.,  224.,  441.,  898., 1313., 1015., 1387., 1302.,  602.,
        772.,  809.,  786.,  921.,  717.,  979.,  953.,  244.,  196.,
        303., 1092.,  261., 1422., 1137.,  511., 1396., 1096., 1169.,
       1239.,  157.,  754., 1303.,  697.,  116.,  557.,  582.,  704.,
        613.,  419.,  477., 1211.,  505.,  269.,  553., 1277.,  302.,
        975., 1318.,  881.,  466.,  945.,  433.,  991., 1083.,  136.,
        333., 1462., 1131., 1023., 1065., 1115., 1479.,  304., 1368.,
        828.,  799.,  142.,  446.,  254., 1410.,  883.,  121., 1343.,
        490., 1400., 1332., 1200., 1102., 1328.,  548., 1214.,  120.,
        841., 1033., 1452., 1268.,  307.,  797.,  555., 1377.,  210.,
        483.,  575., 1311.,  759.,  891.,  317.,  688.,  195.,  622.,
        646.,  719., 1012., 1278., 1222., 1231.,  462.,  231., 1089.,
       1262.,  439.,  528.,  647., 1097.,  942.,  966.,  168.,  299.,
        999., 1498., 1439., 1111., 1174.,  172.,  401.,  866.,  571.,
       1342.,  995.,  118.,  990.,  241., 1470.,  492., 1040., 1320.,
        146., 1153.,  185., 1297., 1064., 1351.,  468., 1273., 1141.,
       1488.,  653., 1225., 1217., 1127., 1427.,  702.,  926.,  878.,
        896., 1401.,  675., 1070.,  496.,  390., 1220., 1124., 1046.,
        267.,  443., 1287., 1420.,  562.,  650.,  141.,  715.,  376.,
        932.,  471.,  180., 1265., 1075., 1086.,  152.,  974.,  788.,
        192.,  150., 1167.,  206.,  736.,  322.,  683., 1475.,  560.,
        115.,  888.,  671.,  567.,  148.,  581.,  371., 1181., 1253.,
        370., 1194.,  572.,  355.,  783.,  155.,  508.,  642., 1382.,
       1037., 1120.,  374.,  287.,  591.,  670., 1346.,  103.,  673.,
        705., 1459., 1443., 1142.,  664.,  432., 1353.,  489.,  807.,
       1280.,  957.,  542.,  216., 1150.,  364., 1256.,  440.,  713.,
        140.,  629.,  328.,  472.,  905., 1151.,  644.,  992., 1323.,
        818., 1431.,  976.,  832.,  916., 1247.,  128., 1158.,  996.,
       1449.,  636.,  889.,  106.,  723., 1482.,  738., 1192., 1309.,
        544.,  641.,  756.,  895., 1261.,  329., 1362., 1371.,  821.,
       1381., 1473.,  296., 1349.,  986.,  413.,  988., 1474.,  232.,
       1236., 1112.,  204.,  913.,  810.,  693.,  316.,  381.,  775.,
        804., 1090.,  346.,  725.,  182.,  384., 1325., 1258., 1041.,
        625., 1418., 1269.,  395.,  341.,  500., 1454.,  617., 1122.,
       1198.,  188.,  335.,  461., 1134.,  138., 1206.,  109.,  277.,
        265.,  342., 1186.,  769., 1176., 1091.,  618.,  970.,  984.,
        793., 1182.,  603.,  874.,  367.,  199., 1457., 1421., 1450.,
       1212., 1010.,  131.,  193.,  640.,  848., 1138.,  256.,  935.,
        458.,  662.,  499.,  949.,  383., 1255., 1221.,  981., 1495.,
       1193.,  467.,  271.,  410., 1288., 1108.,  437.,  457.,  634.,
        546.,  711.,  448.,  365.,  763.,  486.,  392.,  727.,  741.,
        552.,  506., 1456.,  160.,  897.,  600., 1054.,  428.,  343.,
       1216.,  207.,  280.,  414.,  836.,  592.,  219., 1079., 1251.,
       1168., 1444., 1154.,  234.,  529., 1322.,  924.,  134.,  755.,
        253.,  922., 1365.,  306., 1271., 1404., 1391., 1464., 1330.,
        773.,  902.,  107.,  504., 1358.,  824.,  594.,  734.,  766.,
        431., 1213., 1373., 1324., 1123.,  391.,  125., 1357.,  626.,
        132.,  871., 1031., 1145.,  854., 1411.,  252.,  833., 1210.,
       1463.,  812., 1162.,  845., 1144.,  156.,  464., 1305.,  983.,
        534., 1306., 1094.,  558.,  959.,  782.,  362.,  268.,  167.,
       1243.,  720.,  868., 1252.,  781., 1272.,  129., 1069.,  289.,
        955.,  660.,  415.,  309.,  130.,  862., 1098.,  969.,  373.,
        599.,  968.,  830., 1423.,  516.,  598.,  104.,  479.,  474.,
        264., 1059.,  563., 1259.,  369.,  543.,  964.,  176.,  181.,
        211.,  590.,  305.,  478., 1294., 1128.,  726.,  352., 1172.,
        605., 1337.,  105.])

In [ ]:
# Comprobamos que Daily rate ya es numérica

df['Daily Rate'].dtype

dtype('float64')

In [157]:
df.head(5)

,Unnamed: 0,Age,Attrition,Business Travel,Daily Rate,Department,Distance From Home,Education,Education Field,Employee Count,Employee Number,Environment Satisfaction,Gender,Hourly Rate,Job Involvement,Job Level,Job Role,Job Satisfaction,Marital Status,Monthly Income,Monthly Rate,Num Companies Worked,Over 18,Over Time,Percent Salary Hike,Performance Rating,Relationship Satisfaction,Standard Hours,StockOption Level,Total Working Years,Training Times Last Year,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years with Currmanager,Same As Monthly Income,Date Birth,Salary,Role Departament,Number Children,Remote Work
0,0,51,No,NaN,684.0,NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,1,52,No,NaN,699.0,NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,2,42,No,travel_rarely,532.0,Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,3,47,No,travel_rarely,359.0,NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,4,46,No,NaN,1319.0,NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0